@tailwind base;
@tailwind components;
@tailwind utilities;

.imgBG {
  background-image: url('images/01.jpg');
}
.imgShop {
  background-image: url('images/shop.png');
}

.fixedBox{
  position: fixed;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}

/* Configure this in Tailwind.config.js */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in forwards;
}
