@tailwind base;
@tailwind components;
@tailwind utilities;

.imgBG {
  background-image: url('images/01.jpg');
}
.imgShop {
  background-image: url('images/shop.png');
}

.fixedBox{
  position: fixed;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}